body {font-family:'Courier New', Courier, monospace}
li.active {
    color: #F77400
}
.top-edge-white {
    height: 35px;
}
.container{
    display:flex ;
    flex-direction: row;
    column-gap: 1%;
    min-width: 360px;
    width: 90%;
}
.container img {
    width: 30%;
    height:min-content;
    min-width: 360px;
}
p {
    min-width: 350px;
}
.about {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    /* height: 5px; */
    font-family: Arlekino;
    color:#000000 ;
    text-shadow:0px 0px 10px #feffc9;
    margin-top: 0;
}
@media (max-width:870px) {
.container {
    flex-direction: column;
    align-items: center;
}
.about {
    font-size: 40px;
}
}
.green {
    color: #239108;
}
