body {font-family:'Courier New', Courier, monospace}
li.active {
    color: #F77400
}
.top-edge-white {
    height: 35px;
}
.container{
    display:flex ;
    flex-direction: row;
    column-gap: 1%;
    min-width: 360px;
}
.container img {
    width: 30%;
    height: auto;
    min-width: 360px;
}
p {
    min-width: 360px;
}
.about {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    /* height: 5px; */
    color:#3a1802 ;
    margin-top: 0;
}
@media (max-width:768px) {
.container {
    flex-direction: column;
    align-items: center;
}
p {
    width: 90%; ;
}
.about {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow:2px 2px 5px #3a1802 ;

}
}
