/* .modal-02{
    height: 100%;
    width: 100%;
    background-color: rgba(100,100,100,0.5);
    z-index: 99;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center; 
}
.modal_opened-02{
    display: flex;
}
.modal_body-02 {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    color: black;
    width: 60%;
    height: 60%;
    padding: 5%;
    /* margin-top: 5%;
    margin-left: 2%; */
}
.close-modal-02{
    background: #F77400;
}  */