*{
    font-family: 'Courier New', Courier, monospace;

}
body {
    width: 100%;
    background-image: url(img/back-1024.jpg);
    background-color: #c79350;
    background-clip: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0;
}

.site-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* border: 1px solid red; */
    /* background-position: top right; */
    width: 100%;
    height: 200px;
    min-width: 360px;
}
.bottom-edge-white {
    background-image: url(img/bottom-line.png);
    background-position: top right;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    min-width: 360px;
    height: 80px;
    margin-top: -1px;
}
.bottom-edge-white {
    
    
    
   }
.main-nav {
    display: flex;
    height: 45px;
    padding-top: 10px;
    background-color: white;
    /* justify-content: space-between; */
    align-items: center;
    /* column-gap: 50px; */
    min-width: 360px;
}
.logo {
    width: 120px;
    margin: 10px;
    margin-top: 80px;
    
}
.site-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 500px;
    margin-right: 30px;
    /* border: 1px solid green; */
}
.site-menu a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
.site-menu li {
    min-width: 90px;
}
li {
    list-style-type: none;
}
li a:hover {
    color: #F77400;
}
.site-footer {
    /* border: 1px solid red; */
    width: 100%;
    min-width: 360px;
}    
.top-edge {
    
    background-image: url(img/top-line-brown.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100% auto;
    height: 50px;
}
.footer-field {
    display: flex;
    align-items: center;
    background-color: #734C2D;
    border-top: 3px dotted rgb(255, 255, 255);
    height: 250px;
    padding-bottom: 90px;
}
.nav-menu {
    /* border: 2px dotted white ; */
    min-width: 200px;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.nav-menu a:hover {
    font-weight: bold;
}
ul.nav-menu:hover .nav-menu::before {
    transform: rotate(500deg);
    transition: 7s;
}
.wheel {
    width: 170px;
    transition: 7s;
}
.sm {
    display: flex;
    column-gap: 5px;
    padding: 0%;
}
.sm-logo {
    width: 40px;
}
.adress, .adress>a {
    color: white;
    text-decoration: none;
}
.ph-logo {
    width: 30px;margin-bottom: -10px;
}

.top-edge-white {
    /* border: 1px solid white; */
    text-align: right;    
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: -1px;
    background-image: url(img/top-line.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100% auto;
    width: 100%;
    min-width: 360px;
    height: 150px;
}
.promo .center-part {
    /* border: 2px solid white; */
    width: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-clip: border-box;
}
.advent {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
}

.flag {
    width: 10%;
    height: 10%;
}

/* img .flag {
    height: 10%;
} */
.blog-honest, .blog-odd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: min-content;
}
.blog-pic {
    width: 50%;
    height: min-content;
} 
.girl {
    width: 100%;
    margin-bottom: -5px;

}
.blog-text {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: #a6a6a6;padding: 10px;
}
.second {
    background-color: #c79350;
}

h3 {
    width: 50%;
}



.showroom {
    min-width: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    background-clip: border-box;
}

.chest, .shelf, .frame {
    width: 360px;
    height: auto;
    min-width: 360px;
    margin: 15px;
    font-size: 20px;
    color: white;
    background-color: #c79350;
    box-shadow: 5px 5px 10px rgb(75, 74, 74);
}

.btn {
    display: inline-block; 
    position: relative;
    background-color: #F77400;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 12px 30px;
    text-align: center;
    min-width: 200px;
}

.btn:active {
    border: 2px inset rgb(119, 116, 116) ;
}
.footer-nav:hover .wheel {
    transform: rotate(600deg);
    transition: 15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer-nav {
    padding-left: 5%;
}
.first-page {
    /* border: #F77400 solid 1px; */
    min-height: 80%;
    width: 300px;
    min-width: 360px;
    margin-left: 10%;
}
 h1.edition {
    color: #3a1802;
    font-weight: normal;
}
h2 {
    /* color: #3a1802; */
    
}
h1 {
    
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 50px;
    width: 100%;
    /* margin-left: 10%; */
}
.center-part h1 {
    padding-left: 10%;
    width: 80%;
}
table {
    /* border: 2px solid white; */
    width: 80%;
}
td {
    /* border: 2px solid white; */
    font-size: 30px;
    min-width: 200px;
}
.left {
    width: 28%;
    max-width: 200px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
}
.right {
    padding-top: 100px;
    text-align: center;
}
.chest, .shelf, .frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.chest p, .shelf p, .frame p {
    margin: 20px;
}
.descript {
    text-align: center;
}
#menu-toggle{
    opacity: 0;
  }





